{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                {{$res := index .Data "reservation"}}
                <h1>Make reservation</h1>
                <p><strong>Reservation Details</strong><br>
                Room: {{$res.Room.RoomName}}<br>
                Arrival: {{index .StringMap "start_date"}}<br>
                Departure: {{index .StringMap "end_date"}}<br>
                </p>

                <form method="post" action="/make-reservation" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
                    <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
                    <input type="hidden" name="room_id" value="{{$res.RoomID}}">

                    <div class="mb-3">
                      <label for="first_name" class="form-label">First Name:</label>
                      {{with .Form.Errors.Get "first_name"}}
                        <label class="text-danger">{{.}}</label>
                      {{end}}
                      <input type="text" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" 
                             id="first_name" autocomplete="off"
                             name="first_name" value="{{$res.FirstName}}" required>
                    </div>

                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name:</label>
                        {{with .Form.Errors.Get "last_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
                               id="last_name" autocomplete="off"
                               name="last_name" value="{{$res.LastName}}" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" 
                               id="email" autocomplete="off"
                               name="email" value="{{$res.Email}}" required>
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone:</label>
                        {{with .Form.Errors.Get "phone"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" 
                               id="phone" autocomplete="off"
                               name="phone" value="{{$res.Phone}}" required>
                    </div>

                    <button type="submit" class="btn btn-dark">Make Reservation</button>
                  </form>
            </div>
        </div>
    </div>
{{end}}